# Copilot-related folders
copilot-conversations/
copilot-custom-prompts/
inferenciaEstadistica/.obsidian/
inferenciaEstadistica/.obsidian/copilot/
inferenciaEstadistica/.obsidian/plugins/copilot/data.json
inferenciaEstadistica/.obsidian/plugins/digitalgarden/
estructurasAlgebraicas/.obsidian/plugins/digitalgarden/
estructurasAlgebraicas/.obsidian/
analisisFuncional/.obsidian/plugins/digitalgarden/
analisisFuncional/.obsidian/
analisisFuncional/.obsidian/plugins/copilot/data.json
estructurasAlgebraicas/.obsidian/plugins/copilot/data.json
